#nosub_downloader_inquiry {
    padding: 10px 15px;
}

#nosub_downloader_inquiry h2 {
    margin-bottom: 5px;
}

#nosub_downloader_inquiry p + h2 {
    margin-top: 30px;
}

#nosub_downloader_inquiry h3 {
    margin-top: 10px;
}

#nosub_downloader_inquiry p,
#nosub_downloader_inquiry h3 {
    margin-left: 10px;
}